html{
  scroll-behavior: smooth;
}

body {
    margin: 0px;
    height: 100vh;
    background: #313131;
    font-size:1em;
}
.box {
    background: #313131;
    min-height: 100vh;
    position: relative;
}

section{
  margin-bottom:200px;
}
.welcome {
    /* top: 50%; */
    position: static;
    width:max-content;
    height: 4.92em;
    font-family: 'Inter';
    color: #8B8B8C;
    font-style: normal;
    font-weight: 24em;
    font-size:2.5em;
    
    /* font-size: clamp(34px, 10vw, 34px); */
/*     overflow-y:hidden; */
    line-height: 2.5em;
    padding-top:80vh;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.wrap {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center ;
    align-items: center;
    flex-wrap: wrap;

  
}
    
.welcome .title {
    flex-direction: row;
    justify-content: center;
    align-content:center ;
    align-items: center;
    display:flex;
    width: fit-content;
    font-size: 1.8em;
    /* min-width: max-content; */
}


.welcome .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center ;
    align-items: center;
/*     gap: 10px; */
    color: #fff;
    overflow: visible;
    line-height: 3em;
    width: 35%;
    height: 1.5em;
    font-size:.37em;
/*     top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    background: #000000;
    border-radius: 6px;

}
.welcome .button:hover{
    color: #dbb121;
    box-shadow: 0 4px 8px 0 #7e6e30, 0 6px 20px 0 #7e6e30;
    
}
#aboutMe {
    margin-top: 20px;
    height: 100vh;
    background: #313131;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;

   
    
  
}


.navbar{
    
    position: sticky;

    top: 30px;
    left:7.5%;
    z-index: 9;
    display: flex;
    justify-content:center;
    align-content:center;
    align-items: center;
    
    padding:5px;
    border-radius: 6px;
    margin-bottom: 10em;
    min-width: 65%;
    max-width: 85%;
    margin: 2.1em;
    max-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    background: #000000;
    opacity: 0.87;
    box-shadow: 0 1px 2px 0 #4b4d4f, 0 1.5px 5px 0 #4b4d4f;

}
.navbar a{
  margin:7%;
  color:#dbb121;
  min-width:auto;
  text-decoration: none;
  z-index: 99;

  
}
.separator{
  
  width: .8em;
  min-width:3px;
  height: 1.5em;
  background: #626469;
  transform: matrix(1, 0, 0, 1, 0, 0);
  border-radius: 28px;
}
.navbar a:hover{
    color: #7e6e30;
  
}
.aboutcard{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 10em;
    align-self: center;
    justify-content: center;
    align-content:center ;
    align-items: center; 
    width: auto;
    max-width: 900px;
    height: auto;
    padding:;
    padding-bottom:50px;
    border-radius: 31px;
    background: #282A2C;
}
.container{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-flow: column wrap;
/*   grid-template-columns: auto;
  grid-template-rows: 67px auto auto; */
}

.picture{
  
  margin-left: 2.1em;
  margin-top: 2.1em;
  width:11.5em;
  height: 13em;
  display: inline-flex;
  align-self: center;
  border-radius:139.029px;
  background: #000;
}

.aboutTitle {
  max-height: 1.05em;
  margin-top: 1.05em;
  margin-left:1.1em;
  align-self: center;
  grid-row-start: 2;
  color: #8B8B8C;
  font-family: 'Inter';
  font-style: normal;
/*   font-weight: 400; */
  font-size: 1.8em;
  line-height: .9em;
  
}

.aboutTitle span {
  align-self: center;
  font-size:60%;
  white-space: nowrap;
  overflow: hidden;
  color: #57554a;
}
.resume{
/*   grid-column-start: 3; */
  grid-row-start: 2;
/*   align-self: end; */
  align-self: end;
  
  min-width: 5.5em;
  margin-right: .7em;
  height: 2.8em;
  background: #000000;
  border-radius: 68px;
  color: #dbb121;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.em;
}
.resumeTxt{
/*   width:2000px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: .3em;
}
.resume:hover{
    color: #dbb121;
    box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #7e6e30;
}
.description {
  word-wrap: break-word;
  margin-top: 4em;
  margin-left:2em;
  margin-right:.6em;
  font-size:1.1em;
  line-height:2em;
/*   grid-column: 2 / span 3 ; */
  grid-row-start: 2;
  color: #fff;
  padding:1.5px;
  align-self: center;
}

#contact{
    padding: px;
    margin-top: 20px;
    height: 100vh;
    background: #313131;
    display: grid;
    grid-template-columns: 10% 80% 10%;

    grid-template-rows: 15% 70% 15%;
    justify-items: center;

  
}
.contactCard {
    padding: 30px;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 10em;
/*     align-self: center;
    justify-content: center;
    align-content:center ;
    align-items: center;  */
    width: auto;
    max-width: 600px;
    width: auto;
    min-height: 640px;
    font-size:1.3em;
    padding:;
/*     padding-bottom:50px; */
    border-radius: 31px;
    background: #282A2C;
    grid-template-columns: 5% 25% 70%;
    grid-template-rows: 40% 20% 40%;
/*     align-items: stretch; */
}
.messageMeTxt{
  width: auto;
  justify-content: end;
  align-items: end;
  
}

.messageMeTxt h1 {
  grid-column-start: 1;
  
  grid-row-start: 1;
  width: auto;
  height: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.7em;
  padding:.8em;
  color: #FFFFFF;

  justify-content: end;
  
  
}

.socialMedia {
  display: flex;
  justify-content: end;
  grid-column-start: 3;
  grid-row-start: 1; 
  width:auto;
  min-height: auto;
  padding-top: .15em;
  margin:.5em;
  border-radius: 6px;
}
.socialMedia i {
    padding: em;
    left:100px;
    font-size: 140%;
    margin: .2em;
    color:#7e6e30;
    border-radius: 6px;
    transition: all .2s ease-in-out;

}
.socialMedia i:hover {
    transform: scale(1.2);
    color:#dbb121;
    box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;
}
.email {
  grid-column-start: 1;
  grid-column-end: 2;
  width:99.4%;
  height:24px;
  grid-row-start: 2; 
/*   background: #313131; */
  border-radius: 31px;
  border-style: hidden;
  
 
}
.email input {
  border-radius: 31px;
  width:98%;
  height:110%;
  background: #313131;
  color: white;
  
}


 textarea {
  margin-top:9px;
  border-radius: 4px 4px 6px 6px;
  background: #4B4D4F;
  margin-left: 6px;
  width:96.5%;
  height:99%;
  min-height:200px;
  border-style: hidden;
  color:white;
  font-size:1.2em;
  resize:none;
  wrap:physical;
  float: left;
} 
.sendButton {

  padding-top:1.5em;
  display:flex;
  max-width: 240px;
  height: 24px; 
  justify-content:end;
  padding-left: 60%;
}
.sendButton button{
  
  background:#000;
  color: white;
  width: 100%;
  border-radius: 6px;
  
  
}
.sendButton button:hover{
  color: #dbb121;
}

#myWork{
    margin-top: 20px;
    height: 100vh;
    background: #313131;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;

}
.slideshow-container {
    padding: 40px;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 10em;
    min-width: 55%;
    max-width: 600px;
    width: auto;
    min-height: 480px;
    padding:;
    background: #282A2C;
    width: 200px;
    height:auto;
    position: relative;
    display:flex;
    justify-content: center;
    color: white;
    border-radius:31px;
    
}
.myWorkCard
{
  margin-top: .2em;
  margin-left: 25.2em;  
  width: 50em;
  grid-column-start: 1;
  grid-row-start: 1;
  height:auto;
  border-radius:15px;
  color:white;
  align-self: center;
  justify-self: center;
  position:absolute;

}

.dots{
  margin-top: .2em;  
  min-width: 10em;
  height: 20px;
  margin:5px;
  grid-column-start: 1;
  grid-row-start: 2;
  color: #949494;
  text-align:center;
  
 
}
.dot{
  
  display: inline-block;
  color: #7e6e30;
  width: 1em;
  height: 1em;
  background: #949494;
  border-radius: 50%;  
  margin: .4em;
}

.prev{
  margin: .4em;
  font-size: 2em;
  padding-top: 10em;
}

.prev:hover{
  color: #7e6e30;
}
.next{
  margin: .4em;
  font-size: 2em;
}

.next:hover{
  color: #7e6e30;
}
.outer-wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #bad;
  padding: 1em 0;
}
.wrapper {
  width: 65%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #558;
  text-align: center;
  overflow:hidden;
  padding: 1em 0;
}
.card-wrap {
  width: auto;
  max-width: 47%;
  float: left;
  margin: 0 1.5% 3%;
  vertical-align: top;
}
.card-inner {
  max-width: 100%;
  position: relative;
}
.card-thumb-perspective {
  position: relative;
  top: 0;
  left: 0;
	max-width: 100%;
	height: auto;
	-webkit-perspective: 800px;
		 -moz-perspective: 800px;
		 	 -o-perspective: 800px;
		 	-ms-perspective: 800px;
		 			perspective: 800px;
	-webkit-transition: all 0.4s ease-in-out;
		 -moz-transition: all 0.4s ease-in-out;
		 	 -o-transition: all 0.4s ease-in-out;
		 	-ms-transition: all 0.4s ease-in-out;
		 			transition: all 0.4s ease-in-out;
}
.card-body {
  max-width: 100%;
  position: relative;
	top: 0;
	left: 0;
	-webkit-transition: all 0.4s ease-in-out;
		 -moz-transition: all 0.4s ease-in-out;
		 	 -o-transition: all 0.4s ease-in-out;
		 	-ms-transition: all 0.4s ease-in-out;
		 			transition: all 0.4s ease-in-out;

	-webkit-transform-style: preserve-3d;
		 -moz-transform-style: preserve-3d;
		  -ms-transform-style: preserve-3d;
		  		transform-style: preserve-3d;
}
.card-front,
.card-back {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate3d(0,1,0,180deg);
			 -moz-transform: rotate3d(0,1,0,180deg);
			 	 -o-transform: rotate3d(0,1,0,180deg);
			 	-ms-transform: rotate3d(0,1,0,180deg);
			 			transform: rotate3d(0,1,0,180deg);
  text-align:center;
}
.card-front img,
.card-back img {
  max-width: 100%;
  height: auto;
}
.card-back-title {
  position: absolute;
  top: 45%;
  left:0;
  width: 100%;
  background-color: rgba(44,66,255,.25);
  text-align:center;
  font-weight:normal;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-family: futura, sans-serif;
  padding: 0 2%;
  margin: -1em 0 0;
}
.work-number {
  position: absolute; 
  bottom: 2%; right: 2%;
  display:block;
  color: #fff;
  font-family:futura,sans-serif;
}
.card-wrap:hover .card-body {
	-webkit-transform: rotate3d(0,1,0,-180deg);
		 -moz-transform: rotate3d(0,1,0,-180deg);
		 	 -o-transform: rotate3d(0,1,0,-180deg);
		 	-ms-transform: rotate3d(0,1,0,-180deg);
		 			transform: rotate3d(0,1,0,-180deg);
}



#skills {

    margin-top: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;


}  
  
#skills .containerSkills {
    grid-column-start: 2;
    grid-row-start: 2;
    min-width: ;
    width:400px;
    max-width: 900px;
    min-height: 550px;
    padding:20px;
    opacity: 0.83;
    padding-bottom:50px;
    border-radius: 31px;
    background: #000;
    display:flex;
    justify-content:center;
    flex-flow: row-reverse wrap;


}
.containerSkills{
  background: #000;
  

}
.skillsTitle{
  color: white;
  margin: 5px;
}
.iconskillsContainer{
    margin-top:12px;
    background: #000; 
    display: flex;
    justify-content: center;
    flex-flow: row-reverse wrap;
}
.iconskills{
    margin: 15.5px;
    font-size: 3.8em;
    color:#dbb121;
    transition: all .2s ease-in-out;
}
.iconskills:hover{
  transform: scale(1.6);
/*     color:#7e6e30; */
}
@media only screen and (max-width: 780px) {
  .picture {
    font-size:85%;
  }
   .description {
    padding: 4px;
  }
   .aboutcard {
    margin-top: 10em;
  }
  

   .resume {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 660px) {
  .welcome .title {
    /* color: blue; */
    font-size:.8em;
    overflow-y:hidden;
  }
  .sendButton{
   padding-left: 40%; 
  }
  .contactCard {
    margig: 0em;
    margin-top: 0em;   
    
  }
}
  



